
body {
  font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;
  }

  
  
  .container {
    text-align: center;
    margin-top: 10rem;
  }
  
  h1 {
    color:#fff8cf ;
    font-size: 3rem;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    transition: .5s;
  }
  


  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff8cf;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    border-radius: 1rem;
    transition: .5s;
  }

  button:hover{
    font-size: 17px;
    box-shadow: 1px 1px 8px rgb(247, 162, 162);
    border: 2px solid rgb(0, 136, 255);
    background-color: rgb(0, 136, 255);
  }
  #quoteDisplay {
    font-style: bold;
    font-weight: 700;
    color: #e7ebf0;
    background-color: #433f3f ;
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 40px;
  margin-top: 20px;
  text-align: center;
  line-height: 1.8;
  height: 7rem;
  padding-top: 1.2rem;
  margin-bottom: 3rem;
  /* animation: typing 4s steps(30, end);
  overflow: hidden;
  white-space: nowrap;

  @keyframes {
    from {
      width: 0;
    }
  } */
  
  }
  
  #keywordInput{
    border-radius: 1rem;
    width: 22rem;
    margin-top: 43px;
    transition: .5sec;
  }

  #keywordInput:hover{
    width: 30rem;
    box-shadow: 1px 1px 8px rgb(0, 136, 255);
    border: 1px solid rgb(0, 136, 255);
  }

  figure{
    margin: 20px;
    background-color: #e7ebf0;
    color: black;
  }
 
  .blockquote-footer {
    position: absolute;
    bottom: -9rem;
    width: 100%;
    background-color: rgb(5, 5, 5);
    font-size: .875em;
    color: rgb(255, 255, 255);
}
.blockquote p{
  font-size: .8rem;
  transition: .5s;

}

.blockquote p:hover{
  background-color: rgb(247, 255, 11);
  font-size: .809rem;
}

.blockquote{
  padding-top: 1rem;
}
.text-center{
  border-radius: 1rem;
  position: relative;
  bottom: -1.5rem;
  opacity: 0.4;
}

.text-center:hover{
  background-color: rgb(247, 255, 11);
}
/* icon */
#magic{
  position: relative;
  left: -1rem;
}
#magic:hover{
  color: rgb(0, 136, 255);
}
.text-center{
  position: relative;
  left: -2000px;
}


#i{
  margin-left: 45rem;
}
#agree:checked ~ .text-center{
  left: 0;
  background-color: #e7ebf0;
}
#about-us{
margin-left: 42rem;
margin-top: -10px;
}