
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(back.jpg);
    background-size: cover;
  }
  
  .container {
    text-align: center;
    margin-top: 15rem;
  }
  
  h1 {
    color: rgb(183, 255, 0);
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #24cb2c;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 2.5rem;
    border-radius: 1rem;
  }
  
  #quoteDisplay {
    margin-top: 20px;
    font-style: italic;
    font-weight: 700;
    color: rgb(183, 255, 0);
  }
  
  #keywordInput{
    border-radius: 1rem;
    width: 22rem;
  }